<a href="https://colab.research.google.com/github/MitalPattani/M5-Forecasting-Accuracy/blob/master/top_down_approach_with_arima_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
!pip install pmdarima

Collecting pmdarima
  Downloading https://files.pythonhosted.org/packages/6d/e9/6587edeffba78fbed826c45d2e85edfba1fcb18f3d7d5347b20cdbdc7327/pmdarima-1.7.0-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.8MB/s
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.16.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.0.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.18.5)
Collecting Cython<0.29.18,>=0.29
  Downloading https://files.pythonhosted.org/packages/e7/d7/510ddef0248f3e1e91f9cc7e31c0f35f8954d0af92c5c3fd4c853e859ebe/Cython-0.29.17-cp36-cp36m-manylinux1_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 16.5MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.24.3)
Collecting statsmodels>=0.11
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 31.6MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.11->pmdarima) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19->pmdarima) (1.15.0)
Installing collected packages: Cython, statsmodels, pmdarima
  Found existing installation: Cython 0.29.21
    Uninstalling Cython-0.29.21:
      Successfully uninstalled Cython-0.29.21
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed Cython-0.29.17 pmdarima-1.7.0 statsmodels-0.11.1

In [3]:
from plotly.subplots import make_subplots
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from pandas.plotting import register_matplotlib_converters
from pmdarima.arima import auto_arima,OCSBTest,KPSSTest,ADFTest
from tqdm import tqdm
from sklearn import metrics
from statsmodels.tsa.ar_model import AR
import statsmodels.api as sm
import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
# from stationarizer import simple_auto_stationarize
%matplotlib inline

In [4]:
path = ('./gdrive/My Drive/sales_prediction_accuracy/')
os.listdir(path)
calendar = pd.read_csv(path+"calendar.csv")
sales_data = pd.read_csv(path+"sales_train_validation.csv")
eval_data = pd.read_csv(path+"sales_train_evaluation.csv")
sell_price = pd.read_csv(path+"sell_prices.csv")
submissions = pd.read_csv(path+"sample_submission.csv")

In [5]:
# remove trends and/or seasonality from the data using OSCB test

def stationarize(one, counter=0):    
    try:
        trend_result = ADFTest().should_diff(one)[1]  
        if trend_result and counter<2:
            one = one.diff()
            one =one.dropna()
            counter += 1
            one = stationarize(one, counter)
    except:
        None
    return one

def season_stationary(one):
    try:
        season_result = OCSBTest(m=30).estimate_seasonal_differencing_term(one)
        if season_result:
            one = one.diff(30)
            one =one.dropna()
    except:
        None
    return one

In [6]:
sales_data['cat_id']  = (sales_data['store_id'] + '_' + sales_data['cat_id'])
sales_data['dept_id'] = (sales_data['store_id'] + '_' + sales_data['dept_id'])
sales_data['id'] = (sales_data['store_id'] + '_' + sales_data['id'])
days = ['d_'+str(i) for i in range(1,1549)]
sales_data = sales_data.drop(columns=days)

In [8]:
hierarchy = {0: "state_id", 1: "store_id", 2: "cat_id", 3: "dept_id", 4: "id"}

In [132]:
final_work = pd.DataFrame()

In [133]:
## make heirarchical dataframe 
for i in hierarchy:
  col = hierarchy[i]
  df_1 = sales_data.groupby(by = [col],as_index= False).sum()
  data_final = df_1.T
  data_final.columns = data_final.loc[col]
  data_final=data_final.drop(col)
  if final_work.empty:
    final_work = data_final.copy()
  else:
    final_work = pd.merge(final_work,data_final,left_index=True, right_index=True)
final_work['total'] = final_work['CA']+final_work['TX']+final_work['WI']

In [87]:
pred_days= ['f_'+ str(i) for i in range(1,29)]
result_sales = pd.DataFrame(columns=pred_days, index = final_work.index)

In [72]:
# sales_data_eval = remain.drop(columns = ['item_id','dept_id','cat_id','store_id','state_id']).copy()
# sales_data_eval = sales_data_eval.drop(columns = days)

In [ ]:
# make predictions for the entire heirarchy on each level

for i in tqdm(range(114), position=0, leave=True):
    one = final_work.iloc[i]
    id = final_work.index[i]
    # one = one.drop(['id'])
    one = stationarize(one)
    one = season_stationary(one)
    model_fit = auto_arima(one, m=1, suppress_warnings = True)
    pred = model_fit.predict(28)
    result_sales.loc[id] = pred

result_sales.dropna()
result_sales.to_csv('hier_preds.csv')

In [41]:
data_predictions = pd.read_csv('unchecked_final.csv')
heir = pd.read_csv('hier_preds.csv')
data_predictions['id'] = data_predictions['id'].str[-15:-11]+'_'+ data_predictions['id']
heir = heir.dropna() 
heir['id'] = heir['Unnamed: 0']
heir = heir.drop(columns='Unnamed: 0')
data_predictions = data_predictions.drop(columns='Unnamed: 0')
total_pred = pd.concat([data_predictions,heir], ignore_index=True)
num = total_pred._get_numeric_data()
num[num < 0] = 0
total_pred = total_pred.T
total_pred.columns = total_pred.loc['id']
total_pred = total_pred.drop('id')

In [42]:
total_pred.head()

id  CA_1_HOBBIES_1_001_CA_1_validation  ...    total
f_1                            1.04659  ...  41999.7
f_2                             1.0486  ...  35798.1
f_3                            1.05061  ...  34170.8
f_4                            1.05261  ...  36990.9
f_5                            1.05462  ...  43020.4

[5 rows x 30604 columns]

In [37]:
total_pred.to_csv('total_pred.csv')

In [38]:
hr = sales_data.iloc[:,0:6]
heir_pred_valid = pd.merge(hr,data_predictions,on = 'id')

In [45]:
pred_final = pd.DataFrame()

In [47]:
## rework the entire hierarchy after prediction 
for i in hierarchy:
  col = hierarchy[i]
  df_1 = heir_pred_valid.groupby(by = [col],as_index= False).sum()
  data_final = df_1.T
  data_final.columns = data_final.loc[col]
  data_final=data_final.drop(col)
  if pred_final.empty:
    pred_final = data_final.copy()
  else:
    pred_final = pd.merge(pred_final,data_final,left_index=True, right_index=True)
pred_final['total'] = pred_final['CA']+pred_final['TX']+pred_final['WI']

In [48]:
pred_final.head()

          CA       TX  ... WI_3_HOUSEHOLD_2_516_WI_3_validation    total
f_1  14422.3  9214.66  ...                            0.0874659  34495.9
f_2  14423.5  9231.74  ...                            0.0831576  34424.7
f_3  14500.2  9271.51  ...                            0.0730761  34662.1
f_4  14748.3   9362.9  ...                            0.0661086  35079.4
f_5    15078  9460.12  ...                            0.0601837  35685.8

[5 rows x 30604 columns]

In [50]:
pred_final.to_csv('all_sums.csv')

In [51]:
all_predi = pd.read_csv('total_pred.csv')
all_sum = pd.read_csv('all_sums.csv')

In [47]:
# hier_pred = [a for a in final_work.columns if a.endswith('validation')]

In [48]:
# final_work = final_work.drop(columns=hier_pred)

In [49]:
# final_work = final_work.T

In [57]:
all_predi.index = all_predi['Unnamed: 0']
all_sum.index = all_sum['Unnamed: 0']

all_predi = all_predi.drop(columns = ['Unnamed: 0'])
all_sum = all_sum.drop(columns = ['Unnamed: 0'])

In [59]:
states = sales_data.state_id.unique()
stores = sales_data.store_id.unique()
depts = sales_data.dept_id.unique()
cats = sales_data.cat_id.unique()
items = sales_data.id.unique()

# Here we build the tree as a dictionary. Each node (key in dict) has a list of 
# children value in dict, which in turn may also be a key in the dict, and have 
# children as well 
total = {'total': list(states)}
state_h = {k: [v for v in stores if v.startswith(k)] for k in states}
store_h = {k: [v for v in cats if v.startswith(k)] for k in stores}
dept_h = {k: [v for v in depts if v.startswith(k)] for k in cats}
item_h = {k: [v for v in items if v.startswith(k)] for k in depts}

In [73]:
hier_dict = {**total, **state_h, **store_h, **dept_h, **item_h}
hier_total = list(all_sum.columns[0:114])
hier_total.insert(0,'total')

In [75]:
# getting disaggregation proportions as mentioned by Hyndman

## p = Y/S 
# Y = predictions on that level
# S = sum of predictions of all levels below that level

def get_proportions(Y, S):
  Y_arr = Y.to_numpy(dtype='float32')
  S_arr = S.to_numpy(dtype='float32')
  P_arr = np.true_divide(Y_arr,S_arr, out=np.zeros_like(Y_arr), where=S_arr!=0)
  P = pd.Series(P_arr)
  return P

In [81]:
extremely_final = pd.DataFrame()
extremely_final['total'] = all_predi['total']

In [ ]:
# Now we disaggregate the proportions to each level

for i in hier_total:
  print('i ',i)
  p = get_proportions(extremely_final[i],all_sum[i])
  for j in hier_dict[i]:
    print('j ',j)
    x = all_predi[j].to_numpy(dtype='float32')
    y = p.to_numpy(dtype='float32')
    m = np.multiply(x,y)
    extremely_final[j] = pd.Series(m)

In [88]:
extremely_final.index= pred_days

In [94]:
extremely_final.head()

            total  ...  WI_3_HOUSEHOLD_2_516_WI_3_validation
f_1  41999.723748  ...                              0.000000
f_2  35798.098078  ...                              0.000000
f_3  34170.770282  ...                              0.000000
f_4  36990.916592  ...                              0.012523
f_5  43020.361695  ...                              0.035265

[5 rows x 30604 columns]

In [92]:
extremely_final.to_csv('extremely_final.csv')